{% extends "base.html.twig" %}
{% block body %}
   <div class="card">
        <div class="card-body">
            <h2 class="header-title">Liste des individus</h2>
        </div>
   </div>
   {% for individu in individus %}
        <h2>{{ individu.nom }}</h2>
        {# <a href="{{ path('individu_show', {'id':individu.id}) }}" class="btn btn-primary">Voir plus</a> #}
        
    {% endfor %}
{% endblock %}