{% extends "base.html.twig" %}
{% block body %}
       <div class="card">
        <div class="card-body">
            <h3>Nouveau foyer</h3>
            <form>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <label class="" for="inlineFormInputName">Père</label>
                            <input type="text" class="form-control" name="pere" id="inputPere" placeholder="nom du père">
                        </div>
                        <div class="col-sm-6 my-1">
                            <label class="" for="inlineFormInputName">Mère</label>
                            <input type="text" class="form-control" name="mere" id="inputMere" placeholder="nom de la mère">
                        </div>
                        <div class="col-sm-4 my-1">
                            <label class="" for="inlineFormInputName">Nombre du membre de la fammile</label>
                            <input type="number" class="form-control" name="numeroCin" id="inputFamille" placeholder="numéro cin" >
                        </div>
                         <div class="col-sm-4 my-1">
                            <label class="" for="inlineFormInputName">Revenu père</label>
                            <input type="number" class="form-control" name="revenuPere" id="inputRevenuPere" placeholder="Revenu père">
                        </div>
                         <div class="col-sm-4 my-1">
                            <label class="" for="inlineFormInputName">Revenu Mère</label>
                            <input type="number" class="form-control" name="revenuMere" id="inputFonction" placeholder="Revenu mère">
                        </div>
                        <div class="col-sm-6 my-1">
                            <label class="" for="inlineFormInputName">Apparttement</label>
                            <select  class="form-control" name="secteurActivite" id="inputActivity" >
                                <option>Apparttement 1</option>
                                <option>SApparttement 2</option>
                            </select>
                        </div>
                        <div class="col-sm-6 my-1">
                            <label class="" for="inlineFormInputName">Quartier</label>
                            <select  class="form-control" name="niveauEtude" id="inputEtude" >
                                <option>Quartier 1</option>
                                <option>Quartier 2</option>
                            </select>
                        </div>
                        <br><br>

                        <div class="col-auto my-1">
                            <button type ="submit" class="btn btn-primary" >Enregistrer</button>
                        </div>
                        
                    </div>
                </form>

        </div>
       </div>
{% endblock %}